@(form: Form[models.RbsBots])(implicit messages: Messages)

@main("Welcome RPS Bot") {
<div class="row">
    <div class='panel-heading'><br></div>
</div>
<div class='container'>
    <div class='panel panel-primary dialog-panel'>
        <div class='panel-heading'>
            <h1>RPS Bot</h1>
        </div>
        <div class='panel-body'>
            @helper.form(action = routes.HomeController.submit, 'enctype -> "multipart/form-data" ) {
                <div class="row"><br></div>
                <div class="row">
                        <div class="col-sm-3"><label class='control-label' for='yourName'>Enter Name of Player 1</label></div>
                        <div class="col-sm-6">@helper.inputText(form("yourName"),'_label -> "")</div>
                </div>
                <div class="row">
                    <div class="col-sm-3"><label class='control-label' for='opponentName'>Enter Name of Player 2</label></div>
                    <div class="col-sm-6">@helper.inputText(form("opponentName"),'_label -> "")</div>
                </div>
                <div class="row">
                    <div class="col-sm-3"><label class='control-label' for='pointsToWin'>Enter your pointsToWin</label></div>
                    <div class="col-sm-6">@helper.inputText(form("pointsToWin"),'_label -> "")</div>
                </div>
                <div class="row">
                    <div class="col-sm-3"><label class='control-label' for='maxRounds'>Enter your maxRound</label></div>
                    <div class="col-sm-6">@helper.inputText(form("maxRounds"),'_label -> "Enter your maxRounds")</div>
                </div>
                <div class="row">
                    <div class="col-sm-3"><label class='control-label' for='dynamiteCount'>Enter dynamiteCount</label></div>
                    <div class="col-sm-6">@helper.inputText(form("dynamiteCount"), '_label -> "Enter dynamiteCount")</div>
                </div>
                <div class='form-group'>
                    <div class='col-md-offset-4 col-md-2'>
                        <button class='btn-lg btn-primary' type="submit">Submit</button>
                    </div>
                    <div class='col-md-2'>
                        <button class='btn-lg btn-danger' style='float:right' type='submit'>Cancel</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
}
