@(successSub: RbsBots)(implicit messages: Messages)

@main("Welcome RPS Bot") {
<div class="row">
    <div class='panel-heading'></div>
</div>
<div class='container'>
    <div class='panel panel-primary dialog-panel'>
        <div class='panel-heading'>
            <h1>RPS Bot</h1>
        </div>
        <div class='panel-body'>

@helper.form(action = routes.HomeController.submit, 'enctype -> "multipart/form-data" ) {

    <div class="row row-border first-row-top">
        <div class="col-sm-3"><label class='control-label'>Points to win</label></div>
        <div class="col-sm-8"></div>
        <div class="col-sm-1"><span class="badge">@{successSub.pointsToWin}</span></div>
    </div>
    <div class="row row-border">
        <div class="col-sm-3"><label class='control-label'>@{successSub.player1Name} dynamite count</label></div>
        <div class="col-sm-8"></div>
        <div class="col-sm-1"><span class="badge" id="player1">@{({successSub.dynamiteCount}).toInt}</span></div>
    </div>
    <div class="row row-border">
        <div class="col-sm-3"><label class='control-label'>@{successSub.player2Name} dynamite count</label></div>
        <div class="col-sm-8"></div>
        <div class="col-sm-1"><span class="badge" id="player2">@{({successSub.dynamiteCount}).toInt}</span></span></div>
    </div>
    <div class="row row-border">
        <div class="col-sm-3"><label class='control-label'>@{successSub.player1Name} point</label></div>
        <div class="col-sm-8"><div class="progress"><div id="you_progress" class="progressBar progressBarYellow"></div></div></div>
        <div class="col-sm-1"><span class="badge" id="you">0</span><input hidden="true" value="0" id="count"/></div>
    </div>
    <div class="row row-border">
        <div class="col-sm-3"><label class='control-label'>@{successSub.player2Name} point</label></div>
        <div class="col-sm-8"><div class="progress"><div id="opponent_progress" class="progressBar progressBarYellow"></div></div></div>
        <div class="col-sm-1"><span class="badge" id="system">0</span></div>
    </div>

            <div class="row"><br></div>

    <div class="row row-border first-row-top tableHeader">
        <div class="col-sm-4"><strong>@{successSub.player1Name}</strong></div>
        <div class="col-sm-4"><strong>@{successSub.player2Name}</strong></div>
        <div class="col-sm-4"><strong>Result</strong></div>
    </div>
    <div  id="tablebody11" class="score-area"></div>
        <div class="row">
            <div class="col-xs-12">
                <div id="winner" style="display:none; width:100%; text-align:center"></div>
                <div id="allOptions">
                        <input type="radio" name='rps' class="radio-image" id="ROCK" value="ROCK"/><!--<i class="fa fa-circle-o fa-2x"></i><i class="fa fa-check-circle-o fa-2x"></i><span> ROCK</span>-->
                        <input type="radio" name='rps' class="radio-image" id="PAPER" value="PAPER"/><!--<i class="fa fa-circle-o fa-2x"></i><i class="fa fa-check-circle-o fa-2x"></i><span> PAPER</span>-->
                        <input type="radio" name='rps' class="radio-image" id="SCISSORS" value="SCISSORS"/><!--<i class="fa fa-circle-o fa-2x"></i><i class="fa fa-check-circle-o fa-2x"></i><span> SCISSORS</span>-->
                        <input type="radio" name='rps' class="radio-image" id="DYNAMITE" value="DYNAMITE"/><!--<i class="fa fa-circle-o fa-2x"></i><i class="fa fa-check-circle-o fa-2x"></i><span> DYNAMITE</span>-->
                        <input type="radio" name='rps' class="radio-image" id="WATERBOMB" value="WATERBOMB"/><!--<i class="fa fa-circle-o fa-2x"></i><i class="fa fa-check-circle-o fa-2x"></i><span> WATERBOMB</span>-->
                </div>


            </div>
        </div>

        }
        </div>
    </div>
</div>

         <script>

         $( document ).ready(function() {


            var successFn = function(data) {

                var successPostFn = function(data1) {

                    var row1 = $('<div class="row row-border"></div>')

                    $('<div />', {
                            "class": 'col-sm-4',
                            text: $('input[name=rps]:checked').val(),
                            click: function(e){
                            e.preventDefault();
                            }}).appendTo(row1)

                      $('<div />', {
                            "class": 'col-sm-4',
                            text: data,
                            click: function(e){
                            e.preventDefault();
                            }}).appendTo(row1)

                    $('<div />', {
                            "class": 'col-sm-4',
                            text: data1,
                            click: function(e){
                            e.preventDefault();
                            }}).appendTo(row1)

                    row1.appendTo("#tablebody11");

                    if($('input[name=rps]:checked').val()=="DYNAMITE"){$("#player1").html(parseInt($('#player1').text()) -1);}


                    if(data=="DYNAMITE"){$("#player2").html(parseInt($('#player2').text()) -1);}

                    $('input[name="rps"]').prop('checked', false);

                   $('#tablebody11').animate({scrollTop: parseInt($('#tablebody11').prop("scrollHeight"))}, 10);

                    $('#count').attr('value',parseInt($('#count').val()) + 1);
                    var c = parseInt($('#count').val()) ;

                    if(data1=="WIN"){
                    var a = parseInt($('#you').text());
                     $('#you').html(a + c);
                     $('#you_progress').width(parseInt(((a + c)/@successSub.pointsToWin)*100)+'%');
                     $('#count').attr('value', 0);
                     }
                    if(data1=="LOST") {
                     var b = parseInt($('#system').text());
                     $('#system').html(b + c);
                     $('#opponent_progress').width(parseInt(((b + c)/@successSub.pointsToWin)*100)+'%');
                     $('#count').attr('value',0);
                    }
                    var a = parseInt($('#you').text());
                    var b = parseInt($('#system').text());
                    if(a==b){
                     $('#you_progress').removeClass('progressBarGreen progressBarRed');
                     $('#you_progress').addClass("progressBarYellow");
                     $('#opponent_progress').removeClass('progressBarGreen progressBarRed');
                     $('#opponent_progress').addClass("progressBarYellow");
                    } else if(a>b){
                     $('#you_progress').removeClass('progressBarRed progressBarYellow');
                     $('#you_progress').addClass("progressBarGreen");
                     $('#opponent_progress').removeClass('progressBarGreen progressBarYellow');
                     $('#opponent_progress').addClass("progressBarRed");
                    }else{
                     $('#opponent_progress').removeClass('progressBarRed progressBarYellow');
                     $('#opponent_progress').addClass("progressBarGreen");
                     $('#you_progress').removeClass('progressBarGreen progressBarYellow');
                     $('#you_progress').addClass("progressBarRed");
                    }

                    if(parseInt($('#you').text()) >=@successSub.pointsToWin || parseInt($('#system').text()) >=@successSub.pointsToWin){
                        $("#allOptions").hide();
                        $('#winner').show();
                        var image = $('<img></img>').attr('src', parseInt($('#you').text()) >=@successSub.pointsToWin ? "http://www.placehold.it/500x60/DAF7A6/C70039&text=congratulations a winner is @successSub.player1Name !" : "http://www.placehold.it/500x60/DAF7A6/C70039&text=congratulations a winner is @successSub.player2Name !");
                        image.appendTo('#winner')

                    } else {
                        if(@successSub.numberOfBots=="2") {
                            setTimeout(function(){
                            jsRoutes.controllers.HomeController.getPlayer1Move(parseInt($('#player1').text()), '@successSub.player1url.getOrElse("no")').ajax(ajax2)
                            },10);
                        }
                        if(@successSub.numberOfBots=="1" && @successSub.mode.isDefined &&  "@successSub.mode.get"=='autoMove'){
                         setTimeout(function(){
                            jsRoutes.controllers.HomeController.getPlayer1Move(parseInt($('#player1').text()), "no").ajax(ajax2)
                            },10);
                        }
                    }
                }

            if(parseInt($('#player1').text())==0){$('div[id=DYNAMITE]').hide();}

	        var r = jsRoutes.controllers.HomeController.lastOpponentMove();

            $.ajax({url: r.url,
                    type: r.type,
                    success: successPostFn,
                    error: errorFn,
                    contentType: "application/json",
                    data: JSON.stringify({"player1" :  $('input[name=rps]:checked').val(), "player2" : data, "player1url":'@successSub.player1url.getOrElse("no")', "player2url":'@successSub.player2url.getOrElse("no")'})});
         }

         function successDynamicFn(dynamicMove) {
             $('a[id*='+dynamicMove+'').trigger("click");
         }

         var errorFn = function(err) {
            alert("Error of ajax Call" + err.toString);
         }

         ajax1 = {
            success: successFn,
            error: errorFn
         }

         ajax2 = {
            success: successDynamicFn,
            error: errorFn
         }

         $('input[type=radio].radio-image').each(function() {
            var id = this.id;
            $(this).hide().after('<a  id="newrad_' + id + '" class="newrad" href="#"><div class="radio" id="' + id + '"></div></a>');
        });

        $("a").click(function(){
            var $check = $(this).prev('input');
            $('.newrad div').attr('class', 'radio');
            $(this).find('div').addClass('checked');
            $('input[type=radio].radio-image').attr('checked', false);
            $check.prop('checked', true);
            jsRoutes.controllers.HomeController.getPlayer2Move(parseInt($('#player2').text()), '@successSub.player2url.getOrElse("no")').ajax(ajax1)

         });

         if(@successSub.numberOfBots=="2") {
             function dynamicMove(){
                jsRoutes.controllers.HomeController.getPlayer1Move(parseInt($('#player1').text()), '@successSub.player1url.getOrElse("no")').ajax(ajax2)
             }
             dynamicMove();
         }
         if(@successSub.numberOfBots=="1" && @successSub.mode.isDefined &&  "@successSub.mode.get"=='autoMove'){
            function automaticMove(){
                jsRoutes.controllers.HomeController.getPlayer1Move(parseInt($('#player1').text()), "no").ajax(ajax2)
             }
             automaticMove();
         }

         });



        </script>
}
