@(yourName: String, opponentName: String, pointsToWin: Int, maxRounds:Int, dynamiteCount:Int)(implicit messages: Messages)

@main("Welcome RPS Bot") {

        <div class="row">
            <div class="page-header">
                <h1>RPS Bots Information</h1>
            </div>

        </div>

@helper.form(action = routes.HomeController.submit, 'enctype -> "multipart/form-data" ) {

    <div class="row">
        <ul class="list-group">
             <li class="list-group-item">
                 <span class="badge">@pointsToWin</span>
                 Points to win
             </li>
             <!--<li class="list-group-item">-->
                 <!--<span class="badge">@maxRounds</span>-->
                 <!--maxRounds-->
             <!--</li>-->
             <li class="list-group-item">
                 <span class="badge" id="dynamitecount">@{(pointsToWin*0.1).toInt}</span>
                 dynamiteCount
             </li>
            <li class="list-group-item">
                 <span class="badge" id="you">0</span><input hidden="true" value="0" id="count"/>
                @yourName point
            </li>
            <li class="list-group-item">
                 <span class="badge" id="system">0</span>
                @opponentName point
            </li>
         </ul>
     </div>

     <div class="row">
             <div id="tabledata" style="position: relative; overflow: auto; max-height: 400px; width: 100%;">
                 <table class="table display dataTable table-striped table-bordered" id='providersFormElementsTable'>
                     <thead>
                     <tr>
                         <th>@yourName</th>
                         <th>@opponentName</th>
                         <th>Result</th>
                     </tr>
                     </thead>
                     <tbody id="tablebody"></tbody>
                 </table>
             </div>
     </div>

<br>

        <div class="row">
            <div class="col-xs-12">
                <div id="winner" style="display:none; width:100%; text-align:center"></div>
                <div id="allOptions">
                        <input type="radio" name='rps' class="radio-image" id="ROCK" value="ROCK"/><!--<i class="fa fa-circle-o fa-2x"></i><i class="fa fa-check-circle-o fa-2x"></i><span> ROCK</span>-->
                        <input type="radio" name='rps' class="radio-image" id="PAPER" value="PAPER"/><!--<i class="fa fa-circle-o fa-2x"></i><i class="fa fa-check-circle-o fa-2x"></i><span> PAPER</span>-->
                        <input type="radio" name='rps' class="radio-image" id="SCISSORS" value="SCISSORS"/><!--<i class="fa fa-circle-o fa-2x"></i><i class="fa fa-check-circle-o fa-2x"></i><span> SCISSORS</span>-->
                        <input type="radio" name='rps' class="radio-image" id="DYNAMITE" value="DYNAMITE"/><!--<i class="fa fa-circle-o fa-2x"></i><i class="fa fa-check-circle-o fa-2x"></i><span> DYNAMITE</span>-->
                        <input type="radio" name='rps' class="radio-image" id="WATERBOMB" value="WATERBOMB"/><!--<i class="fa fa-circle-o fa-2x"></i><i class="fa fa-check-circle-o fa-2x"></i><span> WATERBOMB</span>-->
                </div>


            </div>
        </div>

        }

         <script>

         $( document ).ready(function() {


            var successFn = function(data) {

                var successPostFn = function(data1) {

                    var row = $('<tr></tr>')
                    $('<td></td>').text($('input[name=rps]:checked').val()).appendTo(row);
                    $('<td></td>').text(data).appendTo(row);
                    $('<td></td>').text(data1).appendTo(row);

                    row.appendTo("#tablebody");

                    $('input[name="rps"]').prop('checked', false);

                    $('#tabledata').animate({scrollTop: parseInt($('#tabledata').prop("scrollHeight"))}, 800);

                    $('#count').attr('value',parseInt($('#count').val()) + 1);
                    var c = parseInt($('#count').val()) ;

                    if(data1=="WIN"){ var a = parseInt($('#you').text()); $('#you').html(a + c); $('#count').attr('value', 0);}
                    if(data1=="LOST") {var b = parseInt($('#system').text());$('#system').html(b + c); $('#count').attr('value',0);}

                    if(parseInt($('#you').text()) >=10 || parseInt($('#system').text()) >=10){
                        $("#allOptions").hide();
                        $('#winner').show();
                        var image = $('<img></img>').attr('src', parseInt($('#you').text()) >=10 ? "http://www.placehold.it/187x60/DAF7A6/C70039&text=@yourName Win" : "http://www.placehold.it/187x60/DAF7A6/C70039&text=@opponentName Win");
                        image.appendTo('#winner')

                    } else {

                        setTimeout(function(){
                        jsRoutes.controllers.HomeController.dynamicMove(parseInt($('#dynamitecount').text())).ajax(ajax2)
                        },1000);
                    }
                }

                if($('input[name=rps]:checked').val()=="DYNAMITE"){$("#dynamitecount").html(parseInt($('#dynamitecount').text()) -1);}
                if(parseInt($('#dynamitecount').text())==0){$('div[id=DYNAMITE]').hide();}

	        var r = jsRoutes.controllers.HomeController.lastOpponentMove();

            $.ajax({url: r.url,
                    type: r.type,
                    success: successPostFn,
                    error: errorFn,
                    contentType: "application/json",
                    data: JSON.stringify({"player1" :  $('input[name=rps]:checked').val(), "player2" : data})});
         }

         function successDynamicFn(dynamicMove) {
             $('a[id*='+dynamicMove+'').trigger("click");
         }

         var errorFn = function(err) {
            alert("Error of ajax Call" + err.toString);
         }

         ajax1 = {
            success: successFn,
            error: errorFn
         }

         ajax2 = {
            success: successDynamicFn,
            error: errorFn
         }

         $('input[type=radio].radio-image').each(function() {
            var id = this.id;
            $(this).hide().after('<a  id="newrad_' + id + '" class="newrad" href="#"><div class="radio" id="' + id + '"></div></a>');
        });

        $("a").click(function(){
            var $check = $(this).prev('input');
            $('.newrad div').attr('class', 'radio');
            $(this).find('div').addClass('checked');
            $('input[type=radio].radio-image').attr('checked', false);
            $check.prop('checked', true);
            jsRoutes.controllers.HomeController.getOpponentMove().ajax(ajax1)

         });

         function callme(){
            jsRoutes.controllers.HomeController.dynamicMove(parseInt($('#dynamitecount').text())).ajax(ajax2)
         }
         callme();

         });



        </script>
}
