@(player1Name: String, player2Name: String, pointsToWin: Int, maxRounds:Int, dynamiteCount:Int, player1url: Option[String], player2url: Option[String])(implicit messages: Messages)

@main("Welcome RPS Bot") {

        <div class="row">
            <div class="page-header">
                <h1>RPS Bots Information</h1>
            </div>

        </div>

@helper.form(action = routes.HomeController.submit, 'enctype -> "multipart/form-data" ) {

    <div class="row">
        <ul class="list-group">
             <li class="list-group-item">
                 <span class="badge">@pointsToWin</span>
                 Points to win
             </li>
             <li class="list-group-item">
                 <span class="badge" id="player1">@{(pointsToWin*0.1).toInt}</span>
                 @player1Name dynamite count
             </li>
            <li class="list-group-item">
                 <span class="badge" id="player2">@{(pointsToWin*0.1).toInt}</span>
                @player2Name dynamite count
             </li>
            <li class="list-group-item">
                 <span class="badge" id="you">0</span><input hidden="true" value="0" id="count"/>
                @player1Name point
            </li>
            <li class="list-group-item">
                 <span class="badge" id="system">0</span>
                @player2Name point
            </li>
         </ul>
     </div>
<div class="row row-border first-row-top">
    <div class="col-sm-4"><strong>@player1Name</strong></div>
    <div class="col-sm-4"><strong>@player2Name</strong></div>
    <div class="col-sm-4"><strong>Result</strong></div>
</div>
<div  id="tablebody11" class="score-area">
</div>


<br>

        <div class="row">
            <div class="col-xs-12">
                <div id="winner" style="display:none; width:100%; text-align:center"></div>
                <div id="allOptions">
                        <input type="radio" name='rps' class="radio-image" id="ROCK" value="ROCK"/><!--<i class="fa fa-circle-o fa-2x"></i><i class="fa fa-check-circle-o fa-2x"></i><span> ROCK</span>-->
                        <input type="radio" name='rps' class="radio-image" id="PAPER" value="PAPER"/><!--<i class="fa fa-circle-o fa-2x"></i><i class="fa fa-check-circle-o fa-2x"></i><span> PAPER</span>-->
                        <input type="radio" name='rps' class="radio-image" id="SCISSORS" value="SCISSORS"/><!--<i class="fa fa-circle-o fa-2x"></i><i class="fa fa-check-circle-o fa-2x"></i><span> SCISSORS</span>-->
                        <input type="radio" name='rps' class="radio-image" id="DYNAMITE" value="DYNAMITE"/><!--<i class="fa fa-circle-o fa-2x"></i><i class="fa fa-check-circle-o fa-2x"></i><span> DYNAMITE</span>-->
                        <input type="radio" name='rps' class="radio-image" id="WATERBOMB" value="WATERBOMB"/><!--<i class="fa fa-circle-o fa-2x"></i><i class="fa fa-check-circle-o fa-2x"></i><span> WATERBOMB</span>-->
                </div>


            </div>
        </div>

        }

         <script>

         $( document ).ready(function() {


            var successFn = function(data) {

                var successPostFn = function(data1) {

                    var row1 = $('<div class="row row-border"></div>')

                    $('<div />', {
                            "class": 'col-sm-4',
                            text: $('input[name=rps]:checked').val(),
                            click: function(e){
                            e.preventDefault();
                            }}).appendTo(row1)

                      $('<div />', {
                            "class": 'col-sm-4',
                            text: data,
                            click: function(e){
                            e.preventDefault();
                            }}).appendTo(row1)

                    $('<div />', {
                            "class": 'col-sm-4',
                            text: data1,
                            click: function(e){
                            e.preventDefault();
                            }}).appendTo(row1)

                    row1.appendTo("#tablebody11");

                    if(data=="DYNAMITE"){$("#player2").html(parseInt($('#player2').text()) -1);}

                    $('input[name="rps"]').prop('checked', false);

                   $('#tablebody11').animate({scrollTop: parseInt($('#tablebody11').prop("scrollHeight"))}, 10);

                    $('#count').attr('value',parseInt($('#count').val()) + 1);
                    var c = parseInt($('#count').val()) ;

                    if(data1=="WIN"){ var a = parseInt($('#you').text()); $('#you').html(a + c); $('#count').attr('value', 0);}
                    if(data1=="LOST") {var b = parseInt($('#system').text());$('#system').html(b + c); $('#count').attr('value',0);}

                    if(parseInt($('#you').text()) >=@pointsToWin || parseInt($('#system').text()) >=@pointsToWin){
                        $("#allOptions").hide();
                        $('#winner').show();
                        var image = $('<img></img>').attr('src', parseInt($('#you').text()) >=@pointsToWin ? "http://www.placehold.it/187x60/DAF7A6/C70039&text=@player1Name Win" : "http://www.placehold.it/187x60/DAF7A6/C70039&text=@player2Name Win");
                        image.appendTo('#winner')

                    } /*else {

                        setTimeout(function(){
                        jsRoutes.controllers.HomeController.getPlayer2Move(parseInt($('#player2').text()), '@player2url.getOrElse("no")').ajax(ajax2)
                        },10);
                    }*/
                }

                if($('input[name=rps]:checked').val()=="DYNAMITE"){$("#player1").html(parseInt($('#player1').text()) -1);}
                if(parseInt($('#player1').text())==0){$('div[id=DYNAMITE]').hide();}

	        var r = jsRoutes.controllers.HomeController.lastOpponentMove();

            $.ajax({url: r.url,
                    type: r.type,
                    success: successPostFn,
                    error: errorFn,
                    contentType: "application/json",
                    data: JSON.stringify({"player1" :  $('input[name=rps]:checked').val(), "player2" : data, "player1url":'@player1url.getOrElse("no")', "player2url":'@player2url.getOrElse("no")'})});
         }

         function successDynamicFn(dynamicMove) {
             $('a[id*='+dynamicMove+'').trigger("click");
         }

         var errorFn = function(err) {
            alert("Error of ajax Call" + err.toString);
         }

         ajax1 = {
            success: successFn,
            error: errorFn
         }

         ajax2 = {
            success: successDynamicFn,
            error: errorFn
         }

         $('input[type=radio].radio-image').each(function() {
            var id = this.id;
            $(this).hide().after('<a  id="newrad_' + id + '" class="newrad" href="#"><div class="radio" id="' + id + '"></div></a>');
        });

        $("a").click(function(){
            var $check = $(this).prev('input');
            $('.newrad div').attr('class', 'radio');
            $(this).find('div').addClass('checked');
            $('input[type=radio].radio-image').attr('checked', false);
            $check.prop('checked', true);
            jsRoutes.controllers.HomeController.getPlayer1Move(parseInt($('#player2').text()), '@player1url.getOrElse("no")').ajax(ajax1)

         });

         /*function callme(){
            jsRoutes.controllers.HomeController.getPlayer2Move(parseInt($('#player2').text()), '@player2url.getOrElse("no")').ajax(ajax2)
         }
         callme();*/

         });



        </script>
}
